*{
    padding: 0;
    margin: 0;
}

body  {
    background-color: black;
}

h1{
    position: absolute;
    top: 3%;
    left: 45%;
    /* transform: translateY(-50%); */

    color: #7E7C89;
    font-family: 'Space Mono', monospace;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.912px;
}

#main{
    color: white;

    position: absolute;
    top: 10%;
    left: 35%;
    width: 480px;
    height: 469px;
    flex-shrink: 0;
}

#passwordcontainer{
    position: relative;
    display: inline-block;
}

#passwordDisplay{
    width: 441px;
    height: 70px;
    background: #24232B;
    color: white;
    
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;

    font-family: 'Space Mono', monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#notificationPopup {
    display: none;
    color: #A6FEB0;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left:30%;
}

button#copy2clipboard {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}
button#copy2clipboard ion-icon {
    font-size: 28px;
    color: #A6FEB0;
    position: absolute;
    top: -7px;
    right: 3px;
}

#parameters{
    background: #24232B;
    width: 440px;
    height: 469px;

    position: relative;
    top: 5%;
    padding: 30px 30px;
}
#sliderValue{
    color: #A4FFAF;
    font-family: 'Space Mono', monospace;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.232px;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 430px;
    padding-bottom: 20px; 

    
}
input[type="range"]::-webkit-slider-runnable-track {
    background: black; 
    height: 0.5rem;
    width: 500px;
    border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #ffffff; /* White background color */
    height: 2rem;
    width: 2rem; /* Set the width to create a circle (same as height) */
    border-radius: 50%; /* Create a circular shape */

    /* box-shadow:#A4FFAF;  */
    /* box-shadow: -407px 0 0 400px #A4FFAF; */
}



#lengthcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lengtherror {
    color: red;
    display: none;
}

/* input[type="checkbox"] {
    font-size: 16px;
    border: 2px solid #FFF;
    background: #A4FFAF;
}
input[type="checkbox"]:checked {
    background-color: #A4FFAF; 
} 
*/
#checkboxescontainer {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    line-height: 1.1;
}
input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0px 10px 0px 0px;
    font: inherit;
    color: white;
    width: 17px;
    height: 17px;
    border: 0.15em solid white;
    border-radius: 0.15em;
    transform: translateY(0.1em);
}
input[type="checkbox"]:checked {
    background-color: #A4FFAF; /* Change the background color when checked */
    border-color: #A4FFAF; /* Change the border color when checked */
    box-shadow: none; /* Remove the box-shadow for checked checkboxes */
}

label {
    display: inline-block;
    position: relative;
    padding: 5px 10px; /* Spacing between the label and the custom checkbox */
    cursor: pointer;

    font-size: 19px;
    color: #FFF;
    font-family: 'Space Mono', monospace;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.432px;
}
  


#strengthcontainer {
    width: 383px;
    height: 63px;
    background: #18171F;
    margin: 20px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:30px ;
    padding-right:30px ;
}
#strengthcontainer span {
    color: #82808E;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rectangles {
    display: flex;
    flex-direction: row;
}
.rectangle {
    height: 25px;
    width: 10px;
    margin: 5px;
    background: transparent;
    border: 1px solid white;
}


#generatebtn {
    width: 443px;
    height: 63px;
    background: #A4FFAF;
    font-family: 'Space Mono', monospace;;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.339px;
    cursor: pointer;
}